<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/assets/css/genre.css">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <title>All genres</title>
</head>
<body>
    <header>
    <%- include('../partials/_navbar.ejs') %>
</header>

    <h1> Available comic genres</h1>


    <p>
    <% genres.forEach((genre)=>{ %>
       <strong ><a href="genres/<%=genre._id %>" id="genreList"><%=genre.name%></a></strong>
    <% }) %>
        </p>
    <a href="genres/new" id="addGenre">Add a genre</a>

</body>
</html>