<nav id="navbarContainer">
  <div id="navbarContainerLogo">
<a href="/"><img src="/assets/images/logo.png" alt="My website logo"></a>
</div>

<div id="navbarContainerLinks">
<% if (user) { %>
  <a href="/auth/sign-out">Sign Out</a>
  <a href="/comics"> All Comics</a>
  <a href="/genres">Filter by Genres </a>

  <% } else { %>
  <a href="/auth/sign-up">Join the universe</a>
  <a href="/auth/sign-in">Enter the universe</a>
  <% } %>
</div>

</nav>