<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/assets/css/form.css">
      <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <title>Report</title>
</head>
<body>
    
<h1> Report an issue or send a request</h1>

<form action="/requests" method="POST"> 
  <p>
    <label for="requestType">Type of request:</label>
    <select name="requestType" id="requestType" required >
        <option value="Delete Image/Genre">Delete Image/Genre</option>
        <option value="Edit Image/Genre">Edit Image/Genre</option>
        <option value="Other">Other</option>
    </select>
 </p>  

 <p>
    <label for="description"><legend>Specific details:</legend></label>
    <textarea name="description" id="description" required></textarea>
 </p>

 <button type="submit">Submit request</button>

</form>

    
</body>
</html>