<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queries</title>
</head>
<body>

    <h1>All Quieries</h1>

    <% requests.forEach((request)=>{ %>
        <% if(request.publisher.equals(user._id.toString() )){ %>
            <p><%= request.requestType %></p>
            <div>
                <p> <%= request.description %> </p>
                <form action="/requests/<%= request._id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete Query</button>
                </form>
                
            </div>
        <% } else{ %>
            <h2>No quereis have been created </h2>
            <p>You can make a query  <strong> <a href="/requests">here</a></strong></p>
       <% } %>
     <% })  %>
    
</body>
</html>