body{
    display: flex;
    background-color: bisque;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}



a{
    text-decoration: none;
    color: paleturquoise;
}


header {
    padding: 0px 5px;
    width: 100%;
    height: 10%;
   
}

#navbarContainer{

    display: flex;
    justify-content: space-between;
}

#navbarContainerLogo{
    display: flex;
    justify-content: flex-start;

}

#navbarContainerLinks{
   display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

a img{
    height: 100px;
    width: 100px;
    display: flex;
   
  

}
nav p{
    font-size: 1rem;
    padding: 0px 10px;
    
}

form{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

p{
    padding-bottom: 1.5rem 0px;
  
    
}

input {
    padding: 0px 10px;
}

.status{
    display: flex;
    justify-content: space-evenly;
}


.genres-title {
  margin-bottom: 8px;
  font-weight: bold;
}

.genres {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;   
  justify-content: space-between;

} 


#origins{
    display: flex;
    flex-direction: row;
    
}

.comicLabels{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

textarea{
    padding: 6rem

}




