
header {
    padding: 0px 5px;
    width: 100%;
    height: 10%;
   
}

#navbarContainer{

    display: flex;
    justify-content: space-between;
}

#navbarContainerLogo{
    display: flex;
    justify-content: flex-start;

}

#navbarContainerLinks{
   display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

a img{
    height: 100px;
    width: 100px;
    display: flex;
   
  

}
nav p{
    font-size: 1rem;
    padding: 0px 10px;
    
}