body{
    background-color:burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    width: auto;
    height: auto;
    color: black;
    border: 1px solid black; 
    padding-bottom: 30rem;
     
}

.nightmode{
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: azure;

}


a{
    text-decoration: none;
    color:teal ;

}

header {
    padding: 0px 5px;
    width: 100%;
    height: 10%;
   
}

#navbarContainer{

    display: flex;
    justify-content: space-between;
}

#navbarContainerLogo{
    display: flex;
    justify-content: flex-start;

}

#navbarContainerLinks{
   display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

a img{
    height: 12rem;
    width: 12rem;
    display: flex;
}

nav p{
    font-size: 1rem;
    padding: 0px 10px;
    
}

.comic-image {
    border: 1px solid black;
    border-radius: 1px ;
    width: 17rem;
    height: 20rem;

}

#liked{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
}

.information{
    display: flex;
    flex-direction: column;
    padding: 0px 2rem;

}

.genres{
    display: flex;
    flex-direction: row;
    padding-top: -10px;

}

p a {
    padding: 0px 5px;
}


.heart{
     background: none;
  border: none;
  padding: 0;
  box-shadow: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}


.description{
    width: 30rem;
}

button{
    margin:10px 0px ;
    width: 8rem;
}

#themeToggle {
  border: none;
  outline: none;
  cursor: pointer ;
}