body{
    display: flex;
    background-color: bisque;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

form{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    
}

p{
    padding: 20px 0px;
  
    
}

input {
    padding: 0px 20px;
}


a{
    text-decoration: none;
    color:teal ;
}


header {
    padding: 0px 5px;
    width: 100%;
    height: 10%;
   
}

#navbarContainer{

    display: flex;
    justify-content: space-between;
}

#navbarContainerLogo{
    display: flex;
    justify-content: flex-start;

}

#navbarContainerLinks{
   display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

a img{
    height: 100px;
    width: 100px;
    display: flex;
   
  

}
nav p{
    font-size: 1rem;
    padding: 0px 10px;
    
}

textarea{
    width: 15rem;
    height: 10rem;

}