body{
    display: flex;
    background-color: bisque;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

form{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    
}

p{
    padding: 20px 0px;
  
    
}

input {
    padding: 0px 20px;
}


a{
    text-decoration: none;
    color: aqua;
}

