

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ghostwhite;
}

p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

strong{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 2.5rem;
    color: brown;
}

.nightMode{
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: azure;

}


h1{
    float: left;
}


 a {
    text-decoration: none;
    color: paleturquoise ;

}
header {
    padding: 0px 5px;
    width: 100%;
    height: 10%;
   
}

#navbarContainer{

    display: flex;
    justify-content: space-between;
}

#navbarContainerLogo{
    display: flex;
    justify-content: flex-start;

}

#navbarContainerLinks{
   display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

a img{
    height: 100px;
    width: 100px;
    display: flex;
   
  

}
nav p{
    font-size: 1rem;
    padding: 0px 10px;
    
}

#addGenre{
    margin-top: 3rem;
    font-size: 1.5rem;
    padding: 3px;
    border: 0.5px solid black;
    display: flex;
    color: red;
}


#genreList{
    color: brown;
}