
body{
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
     color: black;
}


.nightmode {
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: azure;
}



a{
    text-decoration: none;
    color:teal ;

}

header {
    padding: 0px 5px;
    width: 100%;
    height: 10%;
   
}

#navbarContainer{

    display: flex;
    justify-content: space-between;
}

#navbarContainerLogo{
    display: flex;
    justify-content: flex-start;

}

#navbarContainerLinks{
   display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

a img{
    height: 12rem;
    width: 12rem;
    display: flex;
}
p{
    font-size: 1rem;
    padding: 0px 10px;
    
}


h1{
     display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem ;

}





#information{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#query{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid black;
    width: 25rem;


}

#description{
    width: 13rem;
}

button{
    margin-left: 3rem;
}




#themeToggle {
    margin-left: 0rem;
  border: none;
  outline: none;
  cursor: pointer ;
}