.nightMode{
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: azure;

}



a{
    text-decoration: none;
    color: paleturquoise ;

}

header {
    padding: 0px 5px;
    width: 100%;
    height: 10%;
   
}

#navbarContainer{

    display: flex;
    justify-content: space-between;
}

#navbarContainerLogo{
    display: flex;
    justify-content: flex-start;

}

#navbarContainerLinks{
   display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

a img{
    height: 12rem;
    width: 12rem;
    display: flex;
}
p{
    font-size: 1rem;
    padding: 0px 10px;
    
}
