body{
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
     color: black;
}

.nightMode{
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: azure;
   

}

#popularComics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 10px;
    border-radius: 1px solid;
    
}

.comicList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
    
}

.comic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    font-size: 1rem;
   
}

.comicImage{
    display: flex;
    justify-content: center;
    border: 0.5px solid;
    border-radius: 1px ;
    padding: 50px 20px;
    width: 110px;
     

}

a{
    text-decoration: none;
    color: paleturquoise ;

}

header {
    padding: 0px 5px;
    width: 100%;
    height: 10%;
   
}

#navbarContainer{

    display: flex;
    justify-content: space-between;
}

#navbarContainerLogo{
    display: flex;
    justify-content: flex-start;

}

#navbarContainerLinks{
   display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

a img{
    height: 100px;
    width: 100px;
    display: flex;
   
  

}
p{
    font-size: 1rem;
    padding: 0px 10px;
    
}