body{
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;

}

#popularComics{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 10px;
    border-radius: 1px solid;
}