<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All comics</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All comics</h1>
    <p>This page is to browse all comics added to our universe</p>
    <a href="comics/new">Add a comic</a>

</body>
</html>